
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background: #F0F2F5;" >
  <tr height="30">
    <td></td>
  </tr>
  <tr>
    <td align="center">

      <table cellpadding="0" cellspacing="0" border="0" width="600" style="font-size: 14px; line-height: 22px; font-family: 'Helvetica Neue','Open Sans', sans-serif; margin: 0 auto; background: #fff;color: #595959;box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);border-radius: 2px;">
        <tbody>
          <tr height="32">
            <td></td>
          </tr>
          <tr>
            <td style="padding: 0 32px">
              <img src="http://btp.harnods-server.com/assets/images/logo-by-the-park.png">
              <p style="font-weight: 600;font-size: 20px;line-height: 28px;margin: 32px 0 12px">Hi Chris Mayer,</p>
              <p style="margin: 0 0 16px">You have been invited to By-The-Park mobile chat.<br>Here are your account details:</p>
              <p style="margin: 20px 0">Email Address : chris.mayer@gmail.com<br>Password : PW7669797HG</p>
              <p style="margin: 0 0 16px;">Please download the By-The-Park application by clicking the button below or logging into the application if the application is already installed.</p>
              <table width="320" cellspacing="0" style="font:14px Arial,sans-serif;border-radius: 2px;">
                <tr height="50">
                  <td width="180" valign="middle">
                    <a style="color: #fff;text-decoration: none;display: block;" href="#"><img src="/assets/images/playstore.png" width="170" /></a>
                  </td>
                  <td  width="140" valign="middle">
                    <a style="color: #fff;text-decoration: none;display: block;" href="#"><img src="/assets/images/appstore.png" width="140" /></a>
                  </td>
                </tr>
              </table>
              <p style="margin: 0"></p>
            </td>
          </tr>
          <tr height="102">
            <td></td>
          </tr>
        
          
        </tbody>
      </table>
    </td>

  </tr>
  <tr height="100">
    <td></td>
  </tr>
</table>