@font-face{font-family:'SF Pro Display';src:url(../fonts/SFProDisplay-Regular.woff2) format("woff2"),url(../fonts/SFProDisplay-Regular.woff) format("woff"),url(../fonts/SFProDisplay-Regular.ttf) format("truetype"),url(../fonts/SFProDisplay-Regular.svg#SFProDisplay-Regular) format("svg");font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:'SF Pro Display';src:url(../fonts/SFProDisplay-Semibold.woff2) format("woff2"),url(../fonts/SFProDisplay-Semibold.woff) format("woff"),url(../fonts/SFProDisplay-Semibold.ttf) format("truetype"),url(../fonts/SFProDisplay-Semibold.svg#SFProDisplay-Semibold) format("svg");font-weight:500;font-style:normal;font-display:swap}
@font-face{font-family:'SF Pro Display';src:url(../fonts/SFProDisplay-Bold.woff2) format("woff2"),url(../fonts/SFProDisplay-Bold.woff) format("woff"),url(../fonts/SFProDisplay-Bold.ttf) format("truetype"),url(../fonts/SFProDisplay-Bold.svg#SFProDisplay-Bold) format("svg");font-weight:700;font-style:normal;font-display:swap}
body{background:#f0f2f5;font-family:"SF Pro Display",sans-serif}
::-webkit-scrollbar{width:4px;height: 10px;}
::-webkit-scrollbar-track{border-radius:10px;background:rgba(0,0,0,0.02)}
::-webkit-scrollbar-thumb{border-radius:10px;background:#1890ff}
.rc-virtual-list-scrollbar{display: none !important; width: 0.4rem !important;}
.rc-virtual-list-scrollbar-thumb{background:#1890ff !important}
.rc-virtual-list-holder {overflow-anchor: initial !important;overflow: auto !important;}
img{max-width: 100%;}
.ant-result-image{width: auto;height: auto;}
.ant-layout-header{background: #fff;}
.ant-typography h6, h6.ant-typography {margin-bottom: .5em;color: rgba(0,0,0,.85);font-weight: 600;font-size: 0.875rem;line-height: 1.5;}
a[disabled]{opacity: 0.5;}
.block{width:100%}
.text-semibold{font-weight:500}
h4.ant-typography.ant-dropdown-trigger,.ant-dropdown-trigger {cursor: pointer;}
.sub-title{margin:0 0 1rem}
.sider-logo{padding:2rem 2.75rem}
.sider-select{padding:0 1rem}
.sider-menu{margin-top:1rem}
.sider-menu li.ant-menu-item{margin:0!important;display:flex;align-items:center}
.sider-menu li.ant-menu-item svg{margin-right:0.5rem}
.page-loading{width:100%;height:100%;display:flex;align-items:center;justify-content:center}
.page-loading.full{height:100vh}
.ant-layout-content .page-loading{position:absolute;top:0;left:0}
.ant-layout-content{margin:1.5rem 1.5rem 0;padding-bottom: 1.5rem;min-height:calc(100vh - 7.1875rem);background:#fff}
.ant-layout-content .ant-layout{background:#fff;display:flex;min-height:calc(100vh - 12.5rem)}
.ant-layout-content .ant-layout-sider{flex:none!important;border-right:1px solid #D9D9D9}
.content-title{padding:0.875rem 1.5rem;border-bottom:1px solid #D9D9D9}
.content-title h4{margin:0}
.content-title .ant-btn{margin:-0.125rem 0}
.content{padding:1rem 1.5rem}
.main-title{display:flex;justify-content:space-between;align-content:center}
.dp-block{display: block;}
.admin-page{min-width: 1200px;}
.ant-header.ant-row{justify-content:flex-end;padding:0 2rem}
.ant-header-notif{margin-right:1.375rem;position:relative;padding:0 0.75rem}
.ant-header-notif b{position:absolute;background:#F5222D;color:#fff;top:0.4375rem;display:block;line-height:1.375rem;font-size:0.875rem;padding:0 0.5rem;border-radius:1rem;left:1.125rem}
.ant-header-user {display: flex;align-items: center;height: 4rem;}
.ant-header-user .name span {display: block;font-size: 0.75rem;margin-top: 0.25rem;}
.ant-header-user-dropdown{color:#262626;display: flex;align-items: center;}
.ant-header-user-dropdown .anticon-down{transform: translateY(-0.5rem);}
.ant-header-user .ant-avatar,.ant-header-user .name{margin-right:0.5rem}
.ant-header-user .name{line-height: 1;}
.form-sm{width:31.25rem}
.ant-panel-np .ant-collapse-content-box{padding:0.5rem 0;background:#fff}
.ant-collapse-borderless>.ant-collapse-item{border:none}
.ant-collapse-borderless.ant-collapse-theme1 {background: none;}
.ant-collapse-borderless.ant-collapse-theme1 .ant-collapse-header{padding-left: 0;font-weight: 600;text-transform: capitalize;}
.ant-collapse-borderless.ant-collapse-theme1.no-padding .ant-collapse-content > .ant-collapse-content-box{padding: 0.25rem 0 1rem;}
.ant-radio-wrapper:last-child{margin:0}
.row-p8{padding:0.5rem 1rem}
.txt-capitalize{text-transform: capitalize;}
.txt-bold{font-weight: bold;}
.txt-center{text-align: center;}
.txt-right{text-align:right}
.txt-gray{color:#8C8C8C}
.txt-black{color:#595959}
.disable-element{pointer-events: none;}
.row-role .ant-checkbox-group-item:not(:first-child){margin-right:2.6875rem}
.row-role .ant-checkbox-group{display:flex;justify-content:flex-start;flex-direction:row-reverse}
.row-role .ant-checkbox-wrapper-checked + .ant-checkbox-group-item,.row-role .ant-checkbox-wrapper-checked + .ant-checkbox-group-item{cursor:not-allowed;pointer-events:none}
.row-role .ant-checkbox-wrapper-checked + .ant-checkbox-group-item .ant-checkbox-inner{background-color:#f5f5f5;border-color:#d9d9d9!important}
.row-role .ant-checkbox-wrapper-checked + .ant-checkbox-group-item:not(.ant-checkbox-wrapper-disabled) .ant-checkbox:after{position:absolute;top:0;left:0;width:100%;height:100%;border:1px solid #1890ff;border-radius:2px;visibility:hidden;-webkit-animation:antCheckboxEffect .36s ease-in-out;animation:antCheckboxEffect .36s ease-in-out;-webkit-animation-fill-mode:backwards;animation-fill-mode:backwards;content:""}
.row-role .ant-checkbox-wrapper-checked + .ant-checkbox-group-item:not(.ant-checkbox-wrapper-disabled) .ant-checkbox-inner:after{position:absolute;display:table;border:2px solid #fff;border-top:0;border-left:0;-webkit-transform:rotate(45deg) scale(1) translate(-50%,-50%);transform:rotate(45deg) scale(1) translate(-50%,-50%);opacity:1;-webkit-transition:all .2s cubic-bezier(.12,.4,.29,1.46) .1s;transition:all .2s cubic-bezier(.12,.4,.29,1.46) .1s;content:" ";border-color:rgba(0,0,0,.25);-webkit-animation-name:none;animation-name:none}
.row-role .ant-checkbox-wrapper-checked + .ant-checkbox-group-item span{color:rgba(0,0,0,.25);cursor:not-allowed}
.ml-0{margin-left: 0 !important;}
.mb-0{margin-bottom: 0 !important;}
.mb-16{margin-bottom:1rem}
.ml-16{margin-left:1rem}
.mt-24 {margin-top: 1.5rem;}
.mb-24{margin-bottom:1.5rem}
.ml-80{margin-left: 5rem;}
.mb-100{margin-bottom:6.25rem}
.pb-80{padding-bottom:5rem}
.ml-8{margin-left:0.5rem}
.pd-20{padding:1.25rem}
.pdl-8{padding-left:0.625rem}
.mt-16{margin-top:1rem}
.ml-120{margin-left:7.5rem}
.ml-88{margin-left: 5.5rem;}
.mt-4{margin-top: 0.25rem}
.mt-8{margin-top:0.5rem}
.mt-32{margin-top: 2rem}
.mb-32{margin-bottom: 2rem !important;}
.mt--20{margin-top: -1.25rem}
.mt--56{margin-top: -3.5rem}
.w-8-{width: 5rem;}
.w-100{width: 6.25rem}
.w-160{width: 10rem;}
.w-200{width: 12.5rem;}
.w-320{width: 20rem}
.mt-60{margin-top: 3.75rem;}
.w-140{width: 8.75rem}
.btn-arrow{width: 2rem;text-align: center;cursor: pointer;line-height: 2rem;background: #f5f5f5;border-radius: 50%;}
.btn-arrow:hover{color: #40a9ff;background: #eee;}
.txt-red{color: #CF1322;}
.dp-block{display: block;}
.lowercase{text-transform: lowercase;}
.icon-18{width:1.125rem;height:1.125rem}
.table-search{max-width:16rem;margin-bottom:0.5rem}
.site-layout{position:relative}
.breacrumb-global{position:absolute;left:1.5rem;top:0;line-height:4rem;background: #fff;}
.repeater-item{position:relative;margin:0}
.repeater-item .ant-form-item-label{display:none}
.repeater-item:not(:last-child){margin-bottom:0.25rem}
.repeater-del{position:absolute;top:0.5625rem;right:-1.625rem;cursor:pointer}
.repeater-item:first-child:last-child .repeater-del{display:none}
.repeater-items.no-error-label .ant-form-item-explain-error{display: none;}
.repeater-action{margin-top:1rem}
.main-content{margin-top:1.25rem}
.table-action{display:flex}
.table-action a:not(:last-child)::after{content:'|';margin:0 0.3125rem;color:#595959}
.border-gray-5{border:1px solid #D9D9D9}
.bg-gray-6{background:#BFBFBF}
.mb-8{margin-bottom:0.5rem}
.mb-16{margin-bottom:1rem;}
.mr-5{margin-right: 0.375rem;}
.mr-8{margin-right:0.5rem}
.mr-88{margin-right: 5.5rem;}
.mr-16{margin-right:1rem}
.ml-12{margin-left: 0.75rem;}
.ml-16 { margin-left: 1rem;}
.mt-64 { margin-top: 64rem;}
.pb-8 { padding-bottom: .5rem;}
.pt-8 { padding-top: .5rem;}
.pb-16 { padding-bottom: 1rem;}
.pt-16 { padding-top: 1rem;}
.pl-16 { padding-left: 1rem;}
.mri-16 { margin-right: 1rem!important;}
.pb-32 { padding-bottom: 2rem;}
.pt-32 { padding-top: 2rem;}
.btn-link{padding: 0 !important}
.w-400{width: 25rem !important;}
.w-480{width: 30rem}
.w-720{width: 45rem;}
.flex{display:flex}
.justify-flex-end,.justify-end{justify-content:flex-end}
.justify-between{justify-content:space-between}
.master-data-menu{border:none;padding-left:0;list-style:none;width:28.75rem}
.master-data-menu li{border-bottom:1px solid #E8E8E8;transition:all .5s}
.master-data-menu li:hover{padding-left:0.5rem}
.master-data-menu li.unactive{opacity: 0.4;pointer-events: none;}
.master-data-menu li a{color:#000;line-height:3.125rem;display:block}
.master-data-menu li a .anticon{float:right;line-height:3.125rem}
.img-upload-preview{position:relative;text-align:center;width:8rem;height:8rem;padding:0.9375rem;border:1px dashed #D9D9D9;display:flex;align-items:center;justify-content:center}
.img-upload-preview img{max-width:100%;max-height:100%;height:auto}
.img-upload-preview .delete-button{position:absolute;top:-0.84375rem;right:-0.84375rem;color:#fff;background-color:#595959;padding:0.125rem 0.375rem;border-radius:50%}
.img-upload-preview.avatar{width: 5rem;height: 5rem;padding: 0.5rem;}
.file-upload-preview{border:1px solid #D9D9D9;border-radius:2px;position:relative;padding:0.5rem 1.875rem 0.5rem 0.5rem;display:flex;align-items:center}
.file-upload-preview .file{width:3rem;height:3rem;background-repeat:no-repeat;background-color:#E8E8E8;background-size:cover;background-position:center}
.file-upload-preview .file-name{margin-left:0.5rem;color:#1890FF}
.file-upload-preview .delete-button{color:#595959;position:absolute;top:2px;right:0.5rem}
.file-upload-preview.just-preview .file-name{color: #595959;}
.under-cons{text-align:center;opacity:.6;height:100%;align-items:center;display:flex;justify-content:center;padding-top: 10vh}
.under-cons img{max-width:31.25rem}
.under-cons p,.under-cons .ant-result-title{font-size:1.75rem;margin:0px 0 1.875rem;text-transform:uppercase;color:#999}
.ant-layout-content .ant-layout-content{min-height:0}
.ant-table:not(.table-left) th:last-child,.ant-table:not(.table-left) td:last-child{text-align:right}
.ant-table th:last-child .table-action,.ant-table td:last-child .table-action{justify-content:flex-end}
.btn-outline-primary{color:#40a9ff;background:#fff;border-color:#40a9ff}
.main-header{padding:1.25rem 1.5rem;background:#FAFAFA;border-bottom:1px solid #D9D9D9}
.main-header-img{margin-right:1rem;width:4rem;height:4rem;background:#eee no-repeat center;background-size:cover}
.main-header-avatar{margin-right:1rem}
.main-header-tag span{display:inline-block;position:relative}
.main-header-tag span + span{margin-left:1.1875rem}
.main-header-tag span + span::before{content:"";position:absolute;width:3px;height:3px;background:#C4C4C4;left:-0.6875rem;top:0.59375rem;border-radius:50%}
.main-header .avatar{margin-right:1rem}
.main-header h4{margin-bottom:0}
a.main-header-back {display: flex;height: calc(100% + 2.5rem);justify-content: center;padding: 0.5rem;align-items: center;font-size: 1.5rem;background: rgba(0,0,0,0.1);color: #595959;margin: -1.25rem 1rem -1.25rem -1.5rem;}
a.main-header-back:hover {background: #d9d9d9;}
.border-none{border:none}
table.staff-data td{padding-bottom:0.875rem;width:15rem;font-style:normal;font-size:0.875rem;line-height:1.375rem;color:#595959}
table.staff-data td:first-child{font-weight:600}
.flex-wrap{flex-wrap:wrap}
.staff-profile-action,.sidebar-action{margin-left:0.75rem}
.staff-profile-action a,.sidebar-action a{color:#595959;display:block}
.staff-profile-action a:hover,.sidebar-action a:hover{color:#1890ff}
.staff-profile-action a + a,.sidebar-action a + a{margin-top:0.5rem}
.staff-profile-action a svg,.sidebar-action a svg{width:1.125rem;height:1.125rem}
.staff-profile-action .anticon,.sidebar-action .anticon{margin-right:0.5rem}
.col-480{flex:0 0 30rem;max-width:30rem}
.data-list dt,.data-list dd{padding:0.4375rem 0;width:50%;flex:0 0 50%;max-width:50%;}
.data-list > dd{font-weight: 400;margin: 0}
.data-list dt .ant-btn,.data-list dd .ant-btn{margin:-0.3125rem 0}
dl.data-list{display:flex;flex-wrap:wrap;margin:0}
hr{margin:2rem 0;border:none;border-top:1px solid #ebebeb}
dl.data-list h3{flex:0 0 100%;max-width:100%;margin:0 0 0.5rem}
dl.data-list h3 span.ant-tag{margin-left:0.75rem}
dl.data-list ul{padding-left:0.9375rem}
dl.data-list + dl.data-list{margin-top:1.5rem}
.content-title.no-border{border:none;display:flex}
.content-title.no-border a:not(.ant-btn),.content-title a.back,a.back{color:#595959;margin-right:0.75rem}
div.ant-layout-content{margin-top:1rem}
.workarea-item{position:relative;margin:0 0 2rem}
.workarea-item button.ant-btn{position:absolute;right:0;top:0}
.modal-history .ant-modal-confirm-content{margin:1.5rem 0 0}
.modal-history .timeline-date{display:block;font-size:0.75rem}
.ant-timeline-item-content p{font-weight:500}
.main-title a:not(.back) .anticon{color:#595959;margin-right:0.9375rem}
.ant-tooltip.ant-tooltip-placement-topLeft{transform:translate(-0.625rem,0)}
.modal-preview .ant-modal-body{padding:1rem}
.modal-preview.no-action .modal-preview-action{display: none;}
.file-preview{height:20rem;background-color:#C4C4C4;border-radius:4px;background-size:contain;background-position:center;background-repeat:no-repeat}
.empties:not(.no-desc) .ant-empty-image{margin-bottom:2.5rem}
.empties .ant-empty-image svg{width:11.5rem;height:7.3125rem}
.empties .ant-typography{margin:0}
.avatar-24{font-size:1.5rem!important}
.modal-delete .ant-modal-confirm-body>.anticon{color:#ff4d4f}
.ant-row.ant-form-item.ant-form-item-with-help{margin-bottom:1.5rem}
.role-chip{font-size:0.75rem;line-height:1.25rem;background:#F5F5F5;border:1px solid #D9D9D9;box-sizing:border-box;border-radius:2px;padding:0 0.5rem}
.role-chip svg{margin-left:0.375rem}
.role-chip svg:hover{cursor:pointer}
.align-items-center{align-items:center}
.justify-center{justify-content:center}
.text-center{text-align:center}
.text-right{text-align: right;}
.bank-empty-icon svg{width:12.5rem;height:auto}
.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional):before{display:none}
.ant-checkbox+span,.ant-collapse-header{text-transform:capitalize}
.login{background:#f0f2f5;width:100vw;height:100vh;padding:6.5rem 0 0}
.login-box{background:#fff;width:24rem;margin:auto;padding:2rem 2rem 3rem;box-shadow:0 0.25rem 0.75rem rgba(0,0,0,0.15);border-radius:2px}
img.login-logo{margin-bottom:2rem}
.login h4.ant-typography{margin:0 0 0.5rem}
.login form{margin:1rem 0 0}
.filter-bar .ant-select{min-width:10rem}
.ant-skeleton-content > *{margin:0 0 0.75rem!important}
.multiple-data > * + ::before{content:', '}
.ant-select.tags-only .ant-select-selector{border:none;background:none;box-shadow:none!important}
.ant-select.no-tags .ant-select-selection-item{display:none}
.ant-select.tags-only .ant-select-selection-search{display:none}
.ant-select.no-tags span.ant-select-selection-placeholder{display:none}
.ant-select.tags-only .ant-select-selection-item{border:1px solid #D9D9D9}
.ant-select.no-tags::before{content:" " attr(title) "";position:absolute;top:50%;right:0.6875rem;left:0.6875rem;-webkit-transform:translateY(-50%);transform:translateY(-50%);-webkit-transition:all .3s;transition:all .3s;opacity:.4}
.ant-select.no-tags.ant-select-focused.ant-select-show-search:before {opacity: 0;transition: all .5s;}
.ant-select.no-tags .ant-select-selector{background:none}
.ant-select.no-tags{background:#fff}
.ant-row.ant-form-item.item-noname .ant-form-item-label,.ant-row.ant-form-item.item-nolabel .ant-form-item-label{display:none}
.ant-row.ant-form-item.item-noname{margin-top:-1rem}
.ant-row.ant-form-item.item-noname:not(.ant-form-item-has-success){display:none}
.hidden{display:none!important}
.modal-history .ant-modal-content{border-radius: 0.25rem;overflow: hidden;}
.modal-history .ant-modal-header{border:none}
.modal-history .ant-modal-body{padding-top:1rem}
.dl-timeline{display:flex;flex-wrap:wrap;margin:0;max-width: 39.375rem;}
.dl-timeline .dl-action{position: absolute;top:1rem;right: 0;}
.dl-action a {color: #595959;font-size: 1.125rem;padding: 0 0.25rem;}
.dl-timeline > dt,.dl-timeline > dd{line-height:1.375rem;padding:1rem 0;border-bottom: 1px solid #d9d9d9;margin: 0}
.dl-timeline > dt{flex:0 0 12.5rem;font-weight:400;max-width: 12.5rem;}
.dl-timeline > dd{flex:0 0 calc(100% - 12.5rem);font-weight:600;padding-right: 3.75rem;position: relative;}
.teachers,.list{margin: -1rem 0 1.5rem}
.teachers-item,.list-item {padding:1rem 0;border-bottom: 1px solid #E8E8E8;}
.teachers-name,.list-name {margin-left:1rem;flex: 0 0 calc(100% - 8rem);}
.teachers-name span,.list-name span {display: block;}
.list.small .list-name{flex: 0 0 calc(100% - 6.5625rem);}
.list-bordered{margin-top: -0.25rem;border: 1px solid #d9d9d9;max-height: 22rem;overflow: auto;}
.list-bordered .list-item{padding: 1rem 0.5rem;}
.nb .teachers-item:last-child,.nb .list-name:last-child{border: none;}
.text-transform-initial .ant-checkbox+span, .ant-collapse-header{text-transform: initial}
p:last-child{margin-bottom: 0 !important;}
.base-table.table-empty .ant-table-empty tbody,.table-empty .ant-table-tbody{display: none;}
.ant-empty-normal{color: #595959;}
.ant-layout-sider {border-right: 1px solid #D9D9D9;}
li.ant-menu-item.unactive, li.ant-menu-item.unactive a {color: #bfbfbf;}
.dropdown-long .ant-select-item-option-content {overflow: initial;white-space: normal;text-overflow: initial;}
.dropdown-long:not(.fixed-width) {min-width: 13.75rem !important;}
.dropdown-long.longer:not(.fixed-width) {min-width: 18.75rem !important;}
.dl-timeline .ant-collapse{border: none;background: none;}
.dl-timeline .ant-collapse .ant-collapse-item{border: none;position: relative;margin-right: -3.75rem}
.dl-timeline .ant-collapse .ant-collapse-item:before{content: "";width: 1.1875rem;height: 1.1875rem;position: absolute;right: 0;top: 0;border: 2px solid #595959;border-radius: 2px;}
.dl-timeline .ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow{display: none;}
.dl-timeline .ant-collapse>.ant-collapse-item>.ant-collapse-header:before,.dl-timeline .ant-collapse>.ant-collapse-item>.ant-collapse-header:after{display: block;position: absolute;top: 0.5rem;right: 0.3125rem;width: 0.5625rem;height: 0.125rem;background: #595959;transition: all .5s;}
.ant-collapse>.ant-collapse-item:not(.ant-collapse-item-active)>.ant-collapse-header:after{transform: rotate(90deg);}
.dl-timeline .ant-collapse .ant-collapse-header{padding: 0;}
.dl-timeline .ant-collapse .ant-collapse-content{border: none;}
.dl-timeline .ant-collapse-content>.ant-collapse-content-box{padding-left: 0;padding-right: 0;}
.drodpown-footer {padding: 0.6875rem;border-top: 1px solid #eee;margin: 0.625rem 0 -0.25rem;}
.drodpown-footer .ant-checkbox+span{text-transform: none;}
.termination-status {background: #FFD666;padding: 0.5rem 1.5rem;color: #874D00;}
.termination-status.terminated {background: #8C8C8C;color: #fff;}
.view-data .ant-checkbox-group-item{pointer-events: none;}

.view-data-head{text-align: center;}
.view-data-head .ant-col{font-weight: 600;padding: 0.75rem 0;border-bottom: 2px solid #ddd;background: #eee;}
.view-data-role span.anticon.anticon-check {display: block;font-size: 1.25rem;color: #52c41a;}
.view-data-role .ant-row:not(:last-child){border-bottom: 1px dotted #ddd;}
form.just-view input,form.just-view .ant-input-affix-wrapper {border: none;padding: 0;font-weight: 600;height: auto;}
form.just-view .ant-input-affix-wrapper span{display: none;}
form.just-view .ant-form-item {flex-flow: row wrap;margin: 0;}
form.just-view .ant-form-item .ant-form-item-label {flex: 0 0 12.5rem;}
form.just-view .ant-form-item-control-input {display: block;min-height: 0;}
form.just-view .ant-form-item .ant-form-item-label,form.just-view .ant-form-item .ant-form-item-control {padding: 0.5rem 0;border-bottom: 1px solid #d9d9d9;}
form.just-view .repeater-action,form.just-view .repeater-del {display: none;}
form.just-view .repeater .ant-form-item .ant-form-item-control {flex: 0 0 calc(100% - 1.5625rem);}
form.just-view .repeater-items {flex: 0 0 calc(100% - 12.5rem);}
form.just-view .repeater-items .ant-form-item .ant-form-item-label, form.just-view .repeater-items .ant-form-item .ant-form-item-control {border: none;padding: 0.25rem 0;}
form.just-view .ant-form-item{pointer-events: none;}
form.just-view .repeater-items {counter-reset: num;padding-top: 0.25rem;border-bottom: 1px solid #d9d9d9;}
form.just-view .repeater-item {counter-increment: num;font-weight: 500;}
form.just-view .repeater-item:before {content: counter(num);width: 1.25rem;padding: 0.25rem 0;}
form.just-view .repeater {margin: 0 0 2rem;}
form.just-view.long-title .ant-form-item .ant-form-item-label{ flex: 0 0 16.25rem;}
form.just-view.long-title .repeater-items {flex: 0 0 calc(100% - 16.25rem);}
.form-sm.just-view{width: 37.5rem;}
.ant-table .ant-row.ant-form-item {margin: 0;}
.ant-table .ant-col.ant-form-item-label {display: none;}
a.ant-dropdown-trigger.action-dropdown {font-size: 1.5rem;color: #595959;}
.site-layout{margin-left: 15rem;transition: all .5s ease-in-out;}
.ant-layout-sider-collapsed .sider-logo {padding: 2rem 0.625rem;}
.ant-layout-sider-collapsed + .site-layout{margin-left: 5rem;}
.ant-layout-sider-collapsed .sider-select{display: none;}
.site-layout .sider-select{display: none;width: 12.5rem}
.ant-layout-sider-collapsed + .site-layout .sider-select{display: block;}

.static {background: #f0f2f5;padding: 5rem 0;min-height: 100vh;}
.static-header {text-align: center;}
.static-masthead {text-align: center;margin: 1.875rem 0;}
.container {max-width: 1200px;margin: auto;padding: 0 0.5rem;}
.static h1 {font-size: 2rem;text-align: center;font-weight: 600;margin: 0 0 1.5rem;}
.static-content .container {background: #fff;border-radius: 10px;padding: 3.75rem;background: #fff;box-shadow: 01rem 2.5rem 0 rgba(0,0,0,0.1);}

.dashboard{min-height: calc(100vh - 7.1875rem);margin-bottom: -1.5rem;display: flex;}
.dashboard-rows{display: flex;width: 100%;}
.dashboard-inbox {background: #FAFAFA;width: 29%;max-width: 30rem;padding: 0.75rem 1.5rem;}
.dashboard-inbox-filter{width: 10rem}
.dashboard-inbox-text {margin: 0 0 0.375rem;}
.dashboard-inbox-text .anticon {margin-right:1rem;}
.dashboard-inbox-items {overflow: auto;max-height: calc(100vh - 11.25rem);}
.dashboard-inbox-item {background: #fff;padding:1rem;border: 1px solid #E8E8E8;border-radius: 2px;margin: 0 0 0.25rem;}
.dashboard-inbox-date {font-size: 0.75rem;line-height: 1.25rem;}
.dashboard-inbox-action {margin-top:1rem;}
.dashboard-inbox-action .ant-btn {margin-right: 0.5rem;}
.dashboard-inbox-empty svg.ant-empty-img-simple {width: 100%;}
.dashboard-inbox-empty .ant-empty-image {height: 120px;margin: 0 0 2rem;}
.dashboard-inbox-empty h3 {font-weight: 600;margin: 0;}
tr.disabled-row-ch .ant-avatar{filter: grayscale(100%);}
tr.disabled-row-ch td{color: #999}
.disabled-row-ch .ant-table-selection-column .ant-checkbox-inner{background: #eee;opacity: 0.5;border-color: #d9d9d9;}
.disabled-row-ch .ant-table-selection-column .ant-checkbox-wrapper{pointer-events: none;}
.ant-table-tbody > tr.ant-table-row-selected.disabled-row-ch > td{background: none;}
.disabled{pointer-events: none;opacity: 0.5;}
.small-tag {font-size: 0.65rem;border-radius: 0.625rem;}
.canvas-pdf{height: auto !important;max-height: 60vh;}
.ant-modal.modal-preview-pdf{min-width: 1050px !important;}
.ant-modal.modal-preview-pdf dl.data-list{max-width: 600px;}
.ant-modal.modal-preview-pdf .data-list dt{width: 200px;flex: 0 0 200px;max-width: 200px}
.pdf-viewer{text-align: center;background: #eee;overflow: hidden;border: 1px solid #ccc;background: #f0f2f5;}
.ant-row.ant-row-space-between.pdf-viewer-action {background: rgba(0,0,0,0.05);padding: 0.625rem 0;border-top: 1px solid #ccc;box-shadow: 0px 0 21px 0px rgba(0,0,0,0.2);z-index: 3;position: relative;}
.pdf-viewer-action .ant-btn{padding: 0 0.25rem;}
.pdf-viewer-action .ant-btn:not(:disabled) {color: #595959;}
.main-sider{overflow: auto;height: 100vh;position: fixed;left: 0;width: 15rem !important;max-width: none !important;flex: none !important;min-width: 0 !important;}
.main-sider .sider-menu .anticon {font-size: 1.125rem;}
.sub-sider{overflow: auto;width: 15rem !important;max-width: none !important;flex: none !important;min-width: 0 !important;}
.avatar-32{width: 2rem;height: 2rem;line-height: 2rem;font-size: 1rem !important;}
.avatar-48{width: 3rem;height: 3rem;line-height: 3rem;font-size: 1.5rem !important;}
.avatar-64{width: 4rem;height: 4rem;line-height: 4rem;font-size: 2rem !important;}
.w-full{width: 100%}
.hide-input-label .ant-form-item-label{display: none;}
.option-vertical .ant-radio-wrapper,.option-vertical .ant-checkbox-wrapper{display:block;margin:.25rem 0}
.box-list{border:1px solid #d9d9d9}
.box-list-filter{padding:.5rem;border-bottom:1px solid #d9d9d9}
.box-list-lists .ant-checkbox-wrapper{margin:.6875rem 0;position: relative;}
.box-list-lists{height:16.625rem;overflow:auto;padding:0 .5rem}
.box-list-all .ant-checkbox-wrapper{margin-bottom:0}
.ant-checkbox-group.option-vertical {display: block;}
.box-list-lists .ant-checkbox-wrapper .designation {position: absolute;right: 0;top: 0;color: #999;}
div.DraftEditor-root{height:20rem;overflow:auto}
div.DraftEditor-root div{overflow:hidden}
div[class*="EditorToolbar"]{background:rgba(0,0,0,0.05);margin:0;padding:.5rem .5rem .25rem}
.media-upload-preview{display:block;position:relative;background:#FFF;border:1px solid #ccc;margin: 0 0 0.5rem;}
.media-upload-preview::before{content:"";display:block;padding:8.75rem 0}
.media-upload-preview.bigger::before{padding: 15rem 0}
.media-upload-preview.video{background-color: #000;}
.media-delete{position:absolute;top:.7rem;right:.7rem;height:2rem;width:2rem;background:rgba(0,0,0,0.5);text-align:center;line-height:2rem;border-radius:50%;color:#fff;transition:all .5s}
.media-delete:hover{background:#000;color:#fff;transform:scale(1.5)}
.media-file{position:absolute;top:0;left:0;width:100%;height:100%;background-size:contain;background-repeat:no-repeat;background-position:center}
.media-img{background-position: center;background-repeat: no-repeat;background-size: contain;}
.media-video,.media-img{position:absolute;top:0;left:0;width:100%;height:100%}
.media-video{background-color: #000;}
.media-audio {
    width: 100%;
}

.media-audio-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: url('/assets/images/icon/Audio.svg') no-repeat center;
    background-size: 50%;
}
.listselected-items{border:1px solid #d9d9d9;border-radius:2px;max-height:20rem;overflow:auto;margin-bottom:1.5rem}
.listselected-item{padding:.5rem 1rem;position:relative}
.listselected-item:not(:last-child){border-bottom:1px solid #d9d9d9}
.listselected-item h4{font-weight:400;margin:0 0 .25rem}
.listselected-filter{font-size:.75rem;color:#8c8c8c}
.listselected-filter span{display:inline-block}
.listselected-filter span + span:before{content:" / ";display:inline-block;margin:0 .25rem}
.listselected-delete,.listselected-status{position:absolute;top:.5rem;right:1rem}
.listselected-delete{color:#bfbfbf}
.listselected-delete:hover{color:#999}
.listselected-status.read{color:#7CB305}
.announcement-info p{margin:0 0 .25rem}
.announcement-content img {width: auto;height: auto;display: block;margin: auto;}
div.RichTextEditor__editor___1QqIU{color: rgba(0,0,0,0.85);font-size: 0.875rem;font-family: "SF Pro Display";}
code{background:#eee;padding:.25rem}
.ant-layout-content .ant-spin-container .breacrumb-global{display: none;}
tr.inactive-row td {background: #f9f9f9;color: #999;font-style: italic;}
.ant-btn.ant-btn-green {background: #87d068;color: #fff;border-color: #87d068;}
.ant-btn.ant-btn-green:hover {background: #42cf05;}
.ant-form-horizontal .ant-form-item{margin: 0 0.5rem 0 0}
.ant-row.auto > .ant-col{flex: 1 0 0%}
.ant-radio-group.ant-radio-group-solid {display: flex;flex-wrap: wrap;margin-left: -0.5rem;margin-right: -0.5rem;}
.ant-radio-group.ant-radio-group-solid .ant-radio-button-wrapper {flex: 1 0 0%;text-align: center;border: 1px solid #D9D9D9;border-radius: 2px;margin: 0 0.5rem;}
.ant-radio-group.ant-radio-group-solid .ant-radio-button-wrapper:hover {border-color: #1890ff;}
.tags .ant-tag{margin-bottom: 0.5rem;}
.ant-tag span.anticon.anticon-close {font-size: 0.625rem;margin-left: 0.25rem;}
.daily-list-wrap {display: flex;}
.daily-list-col {flex: 0 0 19rem;max-width: 19rem;margin: 0 1rem 0 0;}
.daily-list {overflow: auto;height: 60vh;transition: all 0.2s;}
.daily-list-box {background: #FFFFFF;border: 1px solid #D9D9D9;box-sizing: border-box;border-radius: 4px;transition: all .5s ease;cursor: pointer;position: relative;margin: 0 0 0.5rem;}
.daily-list-inner{padding: 1rem;padding-right: 3.125rem;color: #595959;}
.daily-list-dropdown{position: absolute;top: 1rem;right: 1rem;width: 1.5rem;height: 1.5rem;color:#595959;text-align: center;font-size: 1.25rem;}
.daily-list-box:hover{box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);}
.daily-list-time {margin: 0 0 0.5rem;}
.daily-list h5 {font-size: 0.875rem;margin: 0 0 0.5rem;}
.daily-list-box h5 {margin: 0;}
.daily-list .action-dropdown {line-height: 1;}
.daily-list-info {margin: 0 0 0.625rem;}
.daily-list-info > div{margin: 0 0 0.25rem}
.daily-list-posted {font-size: 0.75rem;line-height: 1.6;}
.daily-list-img{position: absolute;right: 1rem;top: 4.375rem;}
.ant-modal.modal-nb-title{min-width: 0 !important;}
.ant-modal.modal-nb-title .ant-modal-close-x {font-size: 1.5rem;}
.ant-modal.modal-nb-title .ant-modal-header {border: none;padding-bottom: 0.5rem;}
.ant-modal.modal-nb-title .ant-modal-title {font-size: 1.25rem;}
.ant-modal.modal-nb-title .ant-modal-body {padding-top: 0;}
.ant-modal.modal-nb-title .ant-modal-footer{display: none;}
.daily-detail-item {position: relative;padding: 0.75rem 0 0.75rem 2.25rem;}
.daily-detail-item > img {position: absolute;top: 0.75rem;left: 0;width: 1.5rem;}
.daily-detail-text span {display: block;font-size: 0.75rem;}
.daily-image{text-align: center;border: 1px solid #eee;}
.daily-image img{max-height: 18.75rem;}
.ant-modal ol,.ant-modal ul{padding: 0.5rem 0 0 1.25rem;}
/*.daily-image{background-color: #D9D9D9;background-position: center;background-size: contain;background-repeat: no-repeat;}
.daily-image::before{content: "";display: block;padding: 35% 0;}*/
.daily-list-empty{text-align: center;color:#8C8C8C;padding: 2rem 0;}
.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content {height: 8.5rem;}
/* .events li{margin: 1px 0;border-radius: 2px;background: #FFFBE6;border: 1px solid #FFC53D} */
.events li{margin: 1px 0;border-radius: 2px;}
.events span.ant-badge-status-dot.ant-badge-status-default{display: none;}
.list-timeoff-item{padding: 8px 0;border-bottom: 1px solid #d9d9d9;color: #595959;}
.ant-picker-calendar-date,
.ant-picker-calendar-date .ant-picker-calendar-date-today { background: #ffffff !important }
.txt-small{font-size: 0.75rem;}
.checkbox-label{margin-bottom: 0.625rem;}
.ant-checkbox-wrapper + .checkbox-label{margin-top: 1rem}
.list .ant-collapse-content-box {
    padding: 0;
}

.list .ant-collapse-content-box .list-item:last-child {
    border: none;
}
.list .ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow {
    font-size: 1rem;
}
div.list div.ant-collapse div.ant-collapse-header {
    padding: 0.5rem;
    background: #fff;
}
.list-sub {
    padding: 0.5rem;
    background: #cac3c3;
    border-bottom: 1px solid #d9d9d9;
    font-weight: 500;
}

.list-sub .anticon {
    margin-right: 0.5rem;
}
.ant-collapse.collapse-minimalist .ant-collapse-content-box {
    background: #fff;
}

.ant-collapse.collapse-minimalist .ant-collapse-item .ant-collapse-header {
    padding-left: 1.5rem;
}

.ant-collapse.collapse-minimalist .ant-collapse-item .ant-collapse-header .anticon {
    left: 0.3rem;
}
@media(max-width: 900px){
    html,body{font-size: 9px;}
    .ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content{width: auto}
}
@media(min-width: 900px) and (max-width: 1200px){
    html,body{font-size: 9px;}
    .admin-page{min-width: 100%;}
}

@media(min-width: 1200px) and (max-width: 1400px){
    html,body{font-size: 12px;}
}
@media(min-width: 1400px) and (max-width: 1700px){
    html,body{font-size: 13px;}
}
@media(min-width: 768px){
    .ant-modal{min-width: 27.5rem !important;}
}
@media(max-width: 767px){
    .login{overflow: hidden;padding: 60px 0.9375rem 0;background: #fff;}
    .login-box{box-shadow: none;padding: 0;width: auto}
    .static{padding: 1.875rem 0;}
    .static h1{font-size: 1.5rem;margin: 0 01rem;}
    .static-content .container{padding: 1.875rem 0.9375rem;}
}
@media(max-width: 1400px) and (min-width:1200px){
    .form-sm{max-width: 37vw;}
    .form-sm-flex{max-width: 28vw;min-width: 300px;}
}

.data-list.change-log dt {width: 33.33%;max-width: 33.33%;}

.data-list.change-log dd {width: 66.66%;max-width: 66.66%;}

.data-list.change-log dt,
.data-list.change-log dd {font-weight: 400;flex: auto;}
.table-responsive{overflow-x: auto;}
.table-freeze {position: relative;}
.table-freeze .ant-table{background: none;padding: 0 0 1rem}

.table-freeze-data .freeze {visibility: hidden;}
.table-freeze-coloumn .ant-table-container{pointer-events: none;}
.table-freeze-coloumn th:not(.freeze), .table-freeze-coloumn td:not(.freeze){visibility: hidden;pointer-events: none;}

.table-freeze-coloumn {position: absolute;top: 0;left: 0;width: 100%}
.table-freeze-coloumn .table-responsive{overflow: hidden}
.table-freeze-coloumn td.freeze{background: #fff;}
.table-freeze-data{position: relative;}
.table-report .ant-table-tbody>tr>td{padding: 0.5rem 1rem;}
.table-report .ant-table-thead>tr>th[colspan]:not([colspan="1"]){text-align: left;font-weight: 400;}
.table-report tfoot.ant-table-summary td{background: #fafafa;}
.table-report .ant-table-thead>tr>th.text-center{text-align: center;}
.table-report table p{margin: 0 0 0.25rem}
.excol-data p{margin: 0.25rem 0;}
#map{width: 100%;height: 20rem;}
.br-cell{border-right: 1px solid #d9d9d9}

button.ant-btn.avatar-btn {
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
}
.mapbox-marker {
    margin-left: -3%;
    margin-top: -7%;
}
.mapbox-marker img{pointer-events: none;}
.mapbox-address {
    padding: 1rem;
    border-top: 1px solid #d9d9d9;
}

.mapbox {
    border: 1px solid #d9d9d9;
}

.ant-row.ant-form-item.ant-form-item-has-error .ant-form-item-explain {
    color: #ff4d4f;
}

.events li span.ant-badge-status-text {
    background: rgba(255,255,255,0.34);
    padding: 0.1rem 0.1rem 0.1rem 0.4rem;
    margin: 0;
    display: block;
}

.events span.ant-badge-status-dot.ant-badge-status-default {}

.events li span.ant-badge {
    display: block;
    width: 85%;
}

.events li:not(.pending-events) {
    borders: none !important;
}
.events .ant-tag{font-size: 0.875rem;}
.events .ant-tag{margin: 0 0 0.25rem}

.events .ant-tag{font-size: 0.875rem}
.events .ant-tag{margin: 0 0 0.25rem}

.list-photos {
    max-width: 786px;
}

.list-photos .list-photos-item:not(:last-child) {
    border-bottom: 1px solid #D9D9D9;
}
.list-photos {
    max-width: 50rem;
}
.list-photos .photos-thumbnail,
.list-photos .photos-thumbnail img {
    width: 160px;
    height: 160px;
    object-fit: cover;
}
.list-photos .photos-text {
    width: calc(100% - 160px);
}
.photo-modal-tag .ant-tag {
    margin-bottom: .5rem;
}
.va-middle {
    vertical-align: middle;
}
.photo-status::before {
    content: '';
    background: #D9D9D9;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: .5rem;
}
.photo-status {
    font-weight: 400;
}
.photo-status.pending-approval {
    color: #8C8C8C;
}

.photo-status.declined {
    color: #CF1322;
}
.photo-status.declined::before {
    background: #FF4D4F;
}

.color-picker__popover {position: absolute;z-index: 100;}

.mapbox.no-place .flex div br {
    display: none;
}

.mapbox.no-place .flex {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.summary-box {
    padding: 0.5rem;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    font-size: 0.75rem;
    text-align: center;
}
.summary-box.flex{
    padding: 0.5rem 0;
}

.summary-box.flex div{padding: 0 0.5rem;min-width: 4.375rem;}
.summary-box.flex div + div {border-left: 1px dotted #bbb;}

.summary-box h4 {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.2;
    margin: 0;
}
.img-box {
    border: 1px solid #d9d9d9;
    text-align: center;
}

.img-box img {
    max-height: 12.5rem;
    max-width: 90%
}
.ant-avatar.avatar-contain > img {
    object-fit: contain;
}

.ant-avatar.avatar-contain {
    border: 1px solid #d9d9d9;
}
.ant-input[readonly] {
    background: #eee;
}
.data-list .excol-data p{margin: 0 0 0.5rem}
.color-picker{padding: 5px;background: #fff;border-radius: 2px;border: 1px solid #d9d9d9;cursor: pointer;width: 8.5rem;}
.color-picker:hover{border-color: #1890ff;color: #1890ff;}
.color-picker-color{width: 1.5rem;height: 1.5rem;border-radius: 2px;background: #ddd;}
.color-picker-cover{position: fixed;top: 0;right: 0;bottom: 0;left: 0}
.color-picker-popover{position: absolute;z-index: 2;}
.color-picker-hex{padding-left: 0.5rem;border-left: 1px dotted #aaa;width: 4.375rem}
.color-picker-icon{color: #777;font-size: 0.75rem;}


.media-upload-preview.border-none {
    border: none;
}
.mt-24 {
    margin-top: 1.5rem;
}
.white-space-pre-line {
    white-space: pre-line;
}
.color-picker{padding: 5px;background: #fff;border-radius: 2px;border: 1px solid #d9d9d9;cursor: pointer;width: 8.5rem;}
.color-picker:hover{border-color: #1890ff;color: #1890ff;}
.color-picker-color{width: 1.5rem;height: 1.5rem;border-radius: 2px;background: #ddd;}
.color-picker-cover{position: fixed;top: 0;right: 0;bottom: 0;left: 0}
.color-picker-popover{position: absolute;z-index: 2;}
.color-picker-hex{padding-left: 0.5rem;border-left: 1px dotted #aaa;width: 4.375rem}
.color-picker-icon{color: #777;font-size: 0.75rem;}
.tab-report .ant-tabs-nav {margin-bottom: 0;background: rgba(0,0,0,0.03)}
.tab-report .ant-tabs-tab + .ant-tabs-tab {margin: 0 0 0 0.5rem;}
.tab-report .ant-tabs-tab {font-weight: 500;padding: 0.75rem }
.tab-report.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar, .tab-report.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar {bottom: auto;top: 0;}
.tab-report .ant-tabs-tab.ant-tabs-tab-active {background: #fff;box-shadow: 0 0px 10px 0px rgba(0,0,0,0.2);}
.tab-report .ant-tabs-tab-btn{position: relative;}
.tab-report .ant-tabs-content-holder {padding: 2rem 0rem 1rem;}
.tab-report .ant-tabs-tab:not(.ant-tabs-tab-active) {color: #999;}
.ant-tabs-top.tab-report > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top.tab-report > div > .ant-tabs-nav::before {border-bottom: 1px solid #ddd;}
.tab-report .ant-tabs-tab:not(.ant-tabs-tab-active):hover {color: #555;}

a.preview-link {position: relative;display: block;}
.preview-link-zoom {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.5);color: #fff;font-size: 2rem;line-height: 1;display: flex;align-items: center;justify-content: center;opacity: 0;transition: all .5s;}
.preview-link:hover .preview-link-zoom {opacity: 1;}


/* Chat CSS */
.chat {min-height: calc(100vh - 7.1875rem);border-bottom: 1px solid #d9d9d9;}

.chat-sidebar {
    flex: 0 0 23rem;
    max-width: 23rem;
    padding: 1rem 1.5rem;
    border-right: 1px solid #d9d9d9;
    position: relative;
    overflow: hidden;
}


.chat-main {
    flex: auto;
    background: #fafafa;
    position: relative;
}

.chat-info{
    flex: 0;
    max-width: 23rem;
    border-left: 1px solid #d9d9d9;
    transition: all .5s;
    overflow: hidden;
    
}
.chat-info-wraper {
    min-width: 23rem;
}
.chat-info:not(.open){
    visibility: hidden;
    opacity: 0;
}

.chat-info.open {
    flex: 0 0 23rem;
}

.chat-initial {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.chat-hi-icon {
    font-size: 6rem;
}

.chat-initial p {
    color: #595959;
}
.chat-list-item {
    border-bottom: 1px solid #ebebeb;
    padding: 1rem 1.5rem;
    display: flex;
    cursor: pointer;
}


.chat-list {
    margin: 0 -1.5rem;
    max-height: calc(100vh - 22rem);
    overflow: auto;
}

.chat-list-name {
    font-weight: 600;
}

.chat-list-name .ant-tag{
    font-weight: 400;
    margin-left: 0.5rem;
}

.chat-list-last {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}


.chat-list-center {
    flex: auto;
    padding: 0 1.25rem;
    max-width: 14.5rem;
    flex: 0 0 14.5rem;
}

.chat-list-ava.ant-avatar {
    font-size: 2rem;
    flex: 0 0 2rem;
}

.chat-list-right {
    flex: 0 0 3.3rem;
    text-align: right;
}
.chat-list-unread {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 0.75rem;
    display: inline-block;
    background: #1890FF;
}

.chat-list-item:hover{
    background: #f5f5f5;
}
.chat-list-item.active{
    background: #F8FDFF;
}
.chat-classes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fafafa;
    padding: 1rem 1.5rem;
    transition: all .5s ease-in-out;
    opacity: 1;
    visibility: visible;
    overflow: auto;
}
.chat-classes:not(.open){
    transform: translate(-100%,0);
    /*opacity: 0;*/
    visibility: hidden;
}

.chat-classes-item {
    border-bottom: 1px solid #e5e5e5;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.checkbox-row-right {
    padding: .5rem 1.5rem;
    width: 100%;
}

.checkbox-row-right .ant-checkbox-wrapper {
    display: block;
    padding: 0.5rem 1.875rem 0.5rem 0;
    position: relative;
    margin: 0;
}

.checkbox-row-right .ant-checkbox {
    position: absolute;
    right: 0;
    top: 0.6875rem;
}

.checkbox-row-right .ant-checkbox + span {
    padding: 0;
}

.chat-classes-list {
    margin: 0 -1.5rem;
}

.chat-classes-item:hover {
    background: #eee;
}

.chat-classes-name {
    font-weight: 600;
    font-size: 1rem;
}

.chat-num {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
}

.chat-num img {
    width: 12px;
    margin-right: 0.25rem;
}

.chat-room,.chat-create,.chat-browser {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #fafafa;
}

.chat-room-header {
    background: #fff;
    padding: 1.25rem 1.5rem;
    border-bottom: 1px solid #ebebeb;
}

.chat-room-name:not(.a) {
    margin: 0;
}
.chat-spec {
    display: flex;
}

.chat-spec > div + div:before {
    content: "";
    width: 0.25rem;
    height: 0.25rem;
    display: inline-block;
    background: #ccc;
    border-radius: 50%;
    margin: 0 0.5rem;
    vertical-align: middle;
}
.chat-room-part-icon{
    width: 1.25rem;
}
.chat-room-footer {
    padding: 1rem 1.5rem;
    background: #fff;
    border-top: 1px solid #d9d9d9;
}

.chat-room {
    display: flex;
    flex-direction: column;
}



.chat-room-body {
    flex: 1 1 0;
    position: relative;
}

.chat-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.chat-main-ovr {
    flex: 1 1 auto;
    min-height: 1rem;
}

.chat-message-list {
    padding: 0 1.5rem 1rem;
}

.chat-date {
    font-size: 0.75rem;
    margin: 0 0 0.25rem;
}

.chat-date,.chat-desc {
    text-align: center;
}

.chat-desc {
    margin: 0 0 1rem;
}

.chat-msg {
    margin: 0 0 1rem;
    display: flex;
    flex-direction: column;
}

.chat-msg-box {
    padding: 0.5rem;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 0.5rem;
    display: flex;
}

.chat-msg-time {
    margin-left: 1rem;
    font-size: 0.75rem;
    line-height: 2;
    align-self: end;
}

.chat-msg-outcome {
    align-items: flex-end;
}

.chat-msg-wrapper {
    max-width: 75%;
    display: flex;
}

.chat-msg-outcome .chat-msg-box {
    background: #1890FF;
    color: #fff;
}
.chat-msg-ava{
    flex: 0 0 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    height: 2.5rem;
}
.chat-msg-samesender {
    margin-top: -0.5rem;
}

.chat-msg-samesender .ant-avatar {
    visibility: hidden;
}

audio.chat-msg-audio{
    min-width: 22rem;
    height: 2rem;
}
audio.chat-msg-audio:last-child{
    margin-bottom: -0.5rem;
}

audio.chat-msg-audio::-webkit-media-controls-panel {
    background-color: #fff
  }
  
audio.chat-msg-audio::-webkit-media-controls-play-button {
    background-color: #B1D4E0;
    border-radius: 50%;
}

audio.chat-msg-audio::-webkit-media-controls-play-button:hover {
    background-color: rgba(177,212,224, .7);
}

.chat-msg-video{
    width: 16rem;
    height: 8rem;
    background-color: #000;
    cursor: pointer;
}

.chat-msg-outcome audio.chat-msg-audio::-webkit-media-controls-panel {
    background-color: #1890FF
  }

.chat-msg-deleted {
    font-style: italic;
    opacity: 0.5;
}
.chat-msg-image{
    background: #000;
}
.img-box.survey-box-image.chat-msg-image {
    background: #000;
    max-width: 20rem;
    display: block;
    width: auto;
    height: auto;
}

.chat-msg-caption {
    background: #fff;
    color: #555;
    padding: 0.5rem;
    border-top: 1px solid #ccc;
    text-align: left;
}
.chat-msg-file{
    background: #eee;
    border: none;
}
.chat-msg-size {
    font-size: 80%;
    padding-left: 0.5rem;
    border-left: 1px solid #ddd;
    margin-left: 0.5rem;
}

.ant-btn.chat-btn {
    border: none;
    font-size: 1.25rem;
    padding: 0 1rem;
}

.chat-input {
    border-radius: 2rem;
    padding: 0.25rem 1.5rem;
    line-height: 1.5;
    flex: 1 0 0%;
}
.chat-room-row{
    flex-wrap: wrap;
}

.chat-export {
    padding: 1rem;
}

.checkboxs-vertical .ant-checkbox-wrapper {
    display: block;
}
a.ant-menu-right-btn {
    float: right;
    color: #595959;
    font-size: 1.25rem;
    padding-right: 1.5rem;
}
.attachment-upload.with-preview {
    flex: 0 0 100%;
    margin: 0 0 0.25rem;
}

.attachment-upload {
    flex: 0 0 3.75rem;
}

.attachment-upload.with-preview .file-upload-preview {
    background: #eee;
}
.chat-party-item {
    padding: 1rem 1.5rem;
    display: flex;
    border-bottom: 1px solid #ebebeb;
}

.ant-typography.chat-party-name {
    margin: 0;
}

.chat-party-list {
    max-height: calc(100vh - 17rem);
    overflow: auto;
}

.chat-party-created {
    font-size: 0.75rem;
    padding: 0.5rem 1.5rem;
}
.chat-party-delete {
    cursor: pointer;
}

.chat-party-name {
    width: calc(100% - 4rem);
}
.chat-party-name span{
    font-weight: 400;
    font-size: 75%;
}
a.chat-party-add {
    padding: 1rem 1.5rem;
    display: block;
}

a.chat-party-add .anticon {
    font-size: 2.5rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
}

.chat-media {
    padding: 1rem 1.5rem;
    max-height: calc(100vh - 10rem);
    overflow-y: auto;
}

.chat-media-list {
    margin: 0 -1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.chat-media-item {
    flex: 0 0 25%;
    padding: 1px;
    max-width: 25%;
    display: flex;
}

.chat-media-box {
    width: 100%;
    padding: 50% 0;
    background-color: #000;
    cursor: pointer;
    transition: all .5s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.chat-media-box:hover{
    transform: scale(0.9);
}
.chat-media-box.chat-media-video,.chat-msg-video {
    position: relative;
}

.chat-media-box.chat-media-video:before,.chat-msg-video::before {content: "";width: 2rem;height: 2rem;position: absolute;top: calc(50% - 1rem);left: calc(50% - 1rem);background: url('/assets/images/icon/Play.svg') no-repeat center;background-size: cover;}
.chat-media-list + .chat-media-month{margin-top: 1.25rem;}
.modal-view-ava {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2.5rem;
}

.modal-view-timestamp {
    color: #8c8c8c;
    font-size: 0.75rem;
}
.chat-splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
    transition: all .5s;
}

.chat-splash.close {
    opacity: 0;
    visibility: hidden;
}
.chat.ant-row {
    position: relative;
}

span.anticon.chat-splash-icon {
    font-size: 12rem;
}
.chat-sidebar-filter {
    flex: 0 0 2rem;
    max-width: 2rem;
}

.chat-sidebar-search {
    flex: 0 0 calc(100% - 2rem);
    padding-right: 0.5rem;
}

.chat-sidebar-search .ant-input-affix-wrapper,.chat-sidebar-search .ant-input {
    background: #eee;
}

.chat-sidebar-filter {
    flex: 0 0 2rem;
    max-width: 2rem;
}

.chat-sidebar-search {
    flex: 0 0 calc(100% - 2rem);
    padding-right: 0.5rem;
}

.chat-sidebar-search .ant-input-affix-wrapper,.chat-sidebar-search .ant-input {
    background: #FFF;
}
.chat-tags .ant-tag {
    margin: 0.25rem 0.25rem 0 0;
}

.chat-tags {
    padding: 0.25rem 0 0;
}

.chat-browser-head {
    padding: 1rem;
    background: #fff;
    font-size: 1.25rem;
    font-weight: 500;
}

.chat-browser-search {
    padding: 0.5rem 1rem;
    background: #eee;
    border: 1px solid #ddd;
    border-width: 1px 0;
}

.chat-browser-list {
    overflow: auto;
    max-height: calc(100vh - 14rem);
}



.chat-browser-list .chat-list-center {
    max-width: calc(100% - 4rem);
    flex: 0 0 calc(100% - 4rem);
}

h3.chat-list-title a {font-size: 1.1rem;margin-right: -0.5rem;}

h3.chat-list-title {
    display: flex;
    justify-content: space-between;
}
a.chat-list-addother {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

a.chat-list-addother .anticon {
    font-size: 2rem;
    margin-right: 1rem;
}

.chat-msg-more {
    position: absolute;
    right: 0;
    color: #fff;
    padding: 0 0.5rem 0 2rem;
    line-height: 1.5rem;
    cursor: pointer;
    opacity: 0;
    top: 0;
    background: rgb(24,144,255);
    background: linear-gradient(270deg, rgba(16,97,172,1) 0%, rgba(228,228,228,0) 100%);
    height: 100%;
    border-radius: 0.5rem;
    font-size: 1rem;
    z-index: 2
}

.chat-msg-more .anticon{padding-top: 0.5rem;}

.chat-msg-box {
    position: relative;
}

.chat-msg-wrapper .chat-msg-box {
    transition: all .5s;
}

.chat-msg-wrapper:hover .chat-msg-box {
    padding-rights: 2rem;
}

.chat-msg-wrapper:hover .chat-msg-more {
    opacity: 1;
}

.chat-msg-income .chat-msg-more{
    background: #eee;
    background: linear-gradient(270deg, rgba(238,238,238,1) 0%, rgba(228,228,228,0) 100%);
}

.chat-msg-income .chat-msg-more{
    color: #262626;
}
.chat-msg-preview {
    background: #fafafa;
    padding: 1rem;
    border: 1px solid #eee;
    margin: -1.5rem -1.5rem 1.5rem;
}
.chat-msg-preview-box{
    pointer-events: none;
}
.chat-msg-info-modal .chat-party-item {
    padding-left: 0;
    align-items: center;
}

.chat-msg-preview .chat-msg-wrapper,.chat-msg-box{
    max-width: 100%;
}
.chat-msg-text{
    max-width: calc(100% - 3rem)
}
.file-upload-preview.just-preview .file-name{
    width: calc(100% - 3rem);
}

span.file-name-name {
    display: block;
    word-break: break-all;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.chat-msg-box a{
    color: inherit;
    text-decoration: underline;
}
.chat-msg-loading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-style: italic;
}
.chat-audio-recorder {
    flex: 0 0 100%;
}

.chat-audio-recorder canvas {
    display: none;
}

.chat-audio-recorder-control {
    display: flex;
    align-items: center;
    justify-content: end;
}

.chat-audio-recorder-control .ant-btn {
}

.chat-audio-recorder-control audio {
    height: 2rem;
    width: 20rem;
}

span.anticon.anticon-start-stop {
    padding: 2px;
    border: 1px solid #ff4d4f;
    display: block;
    transition: all .5s;
}
span.anticon.anticon-start-stop,span.anticon.anticon-start-stop:before{
    border-radius: 50%;
    transition: all .5s;
}

span.anticon.anticon-start-stop:before {
    content: "";
    width: 1rem;
    height: 1rem;
    display: block;
    background: #ff4d4f;
}
span.anticon.anticon-start-stop.stop,span.anticon.anticon-start-stop.stop:before{
    border-radius: 10%;
}
.attachment-upload.with-preview.no-caption {
    flex: 0 0 calc(100% - 60px);
    max-width: calc(100% - 60px);
}
/*@media(min-width: 12000px) and (max-width:1rem) {
body{transform:scale(0.8);width:125%;transform-origin:0 0}
aside.main-sider{height:125vh!important}
.ant-layout-content{min-height:calc(125vh - 115px)}
.ant-image-preview-mask,.ant-modal-mask{height:125%}
}*/

.meta-box,.rating-scale {
    border: 1px solid #D9D9D9;
    border-radius: 2px;
}

.meta-box-head,.rating-scale-head {
    background: #F5F5F5;
    padding: 0.5rem 0.75rem;
    font-weight: 600;
}

.meta-box-box,.rating-scale-box {
    padding: 1rem 0.75rem;
}
.rating-scale-box{
    background: #fafafa;
}

.meta-box-box:not(:last-child) {
    border-bottom: 1px solid #d9d9d9;
}
.score-box {
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    padding: 0.5rem 1.5rem;
    text-align: center;
}

.score-box p {
    margin: 0;
}

.score-box b {
    font-size: 1.25rem;
    line-height: 1.4;
}

.score-box.columns {

    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}

.score-box.columns > div {
    padding: 0 1.5rem;
}

.score-box.columns > div:not(:last-child) {
    border-right: 1px solid #d9d9d9;
}
.appraisal-table + .appraisal-table,.appraisal-table .ant-table + h5{margin-top: 4rem}

.appraisal-table td {
    vertical-align: top;
}

.appraisal-table a {
    color: #595959;
}

.appraisal-table tfoot.ant-table-tfoot {
    font-weight: 600;
}

.appraisal-table tfoot.ant-table-tfoot td {
    background: #F5F5F5;
}
.appraisal-table h5 span {
    font-weight: 400;
    opacity: 0.6;
}

.appraisal-table.summary th {
    background: #ebebeb;
    padding: 1.5rem 1rem;
}

.app-box-item {
    background: #FAFAFA;
    padding: 1rem;
    position: relative;
}

.app-box-item:not(:last-child) {
    margin-bottom: 0.25rem;
}
 
a.app-box-edit {
    position: absolute;
    top: 1rem;
    right: 1rem;
    opacity: 0;
    visibility: hidden;
}
 
.app-box-item:hover a.app-box-edit {
    opacity: 1;
    visibility: visible;
}

.apprisal-template-box {
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    padding: 1rem;
}
.apprisal-template-box + .apprisal-template-box{
    margin-top: 1rem;
}
.apprisal-template-box h2 {
    font-weight: 600;
    font-size: 1rem;
}

.apprisal-template-box h2,.apprisal-template-box h3 {
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

.apprisal-template-box h3 {
    font-size: 0.875rem;
}
.apprisal-template-box .repeater-items {
    padding-right: 3rem;
}

.apprisal-template-box .repeater-del{
    font-size: 1.25rem;
    line-height: 1rem;
    top: 0.3rem;
}